In [2]:
import pandas as pd
import numpy as np

In [3]:
info = {
    "Name" : ["Rahul","shruti","jiya"],
    "CGPA" : [0.56,0.44,0.35]
}
df = pd.DataFrame(info)
print(df)

     Name  CGPA
0   Rahul  0.56
1  shruti  0.44
2    jiya  0.35

In [4]:
df

     Name  CGPA
0   Rahul  0.56
1  shruti  0.44
2    jiya  0.35

In [9]:
#series 
p= pd.Series([1,2,3,4,5])
print(p)
print(type(p))

#index
print(p[0])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1

In [12]:
#label based access
s = pd.Series([1,2,3,4,5],index = ["a","b","c","d","e"])
print(s)
print(s["c"])
print(s[0])

a    1
b    2
c    3
d    4
e    5
dtype: int64
3
1

C:\Users\DELL\AppData\Local\Temp\ipykernel_20636\724252800.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [20]:
#vectorized operation
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,3,4,5,6])
print(s1+s2)

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [23]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,3,4,5])
print(s1+s2)
s1[0] = 100
print(s1)
changed_s1=s1.drop(0)
print(s1)
print(changed_s1)

0    3.0
1    5.0
2    7.0
3    9.0
4    NaN
dtype: float64
0    100
1      2
2      3
3      4
4      5
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
info = {
    "Name" : ["a","b","c"],
    "Marks" : [78,67,67],
    "Grade" : ['B','C','A']
}
df = pd.DataFrame(info)
print(df)
print(type(df))
print(df.index)#row labels
print(df.columns)#column labels

# DataFrame using numpy array 
np_arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(np_arr,columns=["col1","col2","col3"])
print(df)

  Name  Marks Grade
0    a     78     B
1    b     67     C
2    c     67     A
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Marks', 'Grade'], dtype='object')
   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [33]:
#DataFrame using lists
l = [["a",45],["b",34],["c",34],["d",36]]
df = pd.DataFrame(l,columns = ["Names","Marks"],index = [1,2,3,4])
print(df)

  Names  Marks
1     a     45
2     b     34
3     c     34
4     d     36

In [4]:
#csv data
data = pd.read_csv("employee_data.csv")

print(data,type(data))

    id          name   age country   gender   income
0    1      John Doe  29.0     USA     Male  55000.0
1    1      John Doe  29.0     USA     Male  55000.0
2    2    Jane Smith   NaN  Canada   Female  62000.0
3    3          Alex   NaN     USA  Unknown  47000.0
4    4  Maria Garcia  34.0   Spain   Female      NaN
5    5        Li Wei  27.0   China     Male  51000.0
6    6           NaN  45.0   India   Female  73000.0
7    7    Ahmed Khan  38.0     NaN     Male  68000.0
8    8    Rachel Lee  29.0     USA   Female  62000.0
9    9   Carlos Ruiz   NaN  Mexico     Male  45000.0
10  10   Emily Davis  31.0     USA      NaN  58000.0 <class 'pandas.core.frame.DataFrame'>

In [5]:
data = pd.read_json("store_data.json")

print(data,type(data))

       name rating                   feedback   age
0     Alice     5             Great product!!  25.0
1       Bob   four       ok but late Delivery  30.0
2   Charlie    two            BAD EXPERIENCE    NaN
3     Diana      5                  Loved it!  28.0
4       Eve    3.5  Average - could be better  20.0
5     Alice      5       Great product again!  25.0 <class 'pandas.core.frame.DataFrame'>

In [15]:
#operation on pandas
df = pd.read_csv("employee_data.csv")

print(df.head()) # starting 5 rows
print()
print(df.tail(2)) #3 last two row #by default 5 aati h
print()
print(df.sample(5)) # random sample of values
print()
print(df.info()) #summmary deta h
print()
print(df.shape)  #return tupe (row,column)
print()
print(df.describe())  # return numeircla column 
print()
print(df.columns)   
print()
print(df.nunique())

   id          name   age country   gender   income
0   1      John Doe  29.0     USA     Male  55000.0
1   1      John Doe  29.0     USA     Male  55000.0
2   2    Jane Smith   NaN  Canada   Female  62000.0
3   3          Alex   NaN     USA  Unknown  47000.0
4   4  Maria Garcia  34.0   Spain   Female      NaN

    id         name   age country gender   income
9    9  Carlos Ruiz   NaN  Mexico   Male  45000.0
10  10  Emily Davis  31.0     USA    NaN  58000.0

    id         name   age country   gender   income
8    8   Rachel Lee  29.0     USA   Female  62000.0
6    6          NaN  45.0   India   Female  73000.0
3    3         Alex   NaN     USA  Unknown  47000.0
10  10  Emily Davis  31.0     USA      NaN  58000.0
1    1     John Doe  29.0     USA     Male  55000.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11 non-null     int64
 1   name     10 non-null     object
 2   age      8 non-null      float64
 3   country  10 non-null     object
 4   gender   10 non-null     object
 5   income   10 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 660.0+ bytes
None

(11, 6)

              id        age        income
count  11.000000   8.000000     10.000000
mean    5.090909  32.750000  57600.000000
std     3.176619   6.065123   8896.940798
min     1.000000  27.000000  45000.000000
25%     2.500000  29.000000  52000.000000
50%     5.000000  30.000000  56500.000000
75%     7.500000  35.000000  62000.000000
max    10.000000  45.000000  73000.000000

Index(['id', 'name', 'age', 'country', 'gender', 'income'], dtype='object')

id         10
name        9
age         6
country     6
gender      3
income      8
dtype: int64

In [3]:
#aqi data set 
ds = pd.read_csv("globalAirQuality.csv")
print(ds)

                        timestamp country      city  latitude  longitude  \
0      2025-11-04 18:25:17.554219      US  New York    40.713    -74.006
1      2025-11-04 19:25:17.554219      US  New York    40.713    -74.006
2      2025-11-04 20:25:17.554219      US  New York    40.713    -74.006
3      2025-11-04 21:25:17.554219      US  New York    40.713    -74.006
4      2025-11-04 22:25:17.554219      US  New York    40.713    -74.006
...                           ...     ...       ...       ...        ...
17995  2025-11-19 13:25:17.554219      CH    Zurich    47.377      8.542
17996  2025-11-19 14:25:17.554219      CH    Zurich    47.377      8.542
17997  2025-11-19 15:25:17.554219      CH    Zurich    47.377      8.542
17998  2025-11-19 16:25:17.554219      CH    Zurich    47.377      8.542
17999  2025-11-19 17:25:17.554219      CH    Zurich    47.377      8.542

         pm25     pm10     no2    so2      o3     co  aqi  temperature  \
0      50.295  108.938  27.998  6.539  52.568  1.096  108       18.504
1      32.083   63.043  36.120  4.021  43.536  1.075   90        5.838
2      42.250   82.553  26.935  9.538  23.320  0.977   84       31.833
3      30.403   79.951  63.536  7.609  31.369  0.230  158       23.140
4      21.083   66.423  38.997  6.919  45.615  1.085   97       13.632
...       ...      ...     ...    ...     ...    ...  ...          ...
17995  27.899   74.179  41.474  6.677  50.869  1.028  103        7.079
17996   2.950   47.988  42.235  2.821  35.551  0.644  105       28.734
17997  61.347   72.908  46.976  5.763  66.492  0.947  122       21.951
17998  40.722   95.152  32.957  5.524  53.193  0.868   95       24.042
17999  25.830   30.411  35.317  4.336  66.246  0.848   88        8.529

       humidity  wind_speed
0        70.168       3.725
1        80.088       8.969
2        62.783       9.650
3        89.153       8.956
4        76.499       4.017
...         ...         ...
17995    52.443       7.452
17996    85.678       4.496
17997    72.311       9.660
17998    31.880       2.642
17999    59.104       4.403

[18000 rows x 15 columns]

In [7]:
#ds.head()
ds.tail()
ds.describe()

,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
count,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000
mean,23.065980,37.655560,40.369131,70.152228,32.055176,6.035508,48.065100,0.800595,104.645556,21.510251,57.714351,5.283910
std,26.156536,78.600701,17.647450,24.999440,13.820680,2.454790,14.950849,0.250254,25.616070,9.509444,18.844908,2.741712
min,-37.814000,-123.121000,0.025000,0.061000,0.013000,0.003000,0.114000,0.000000,16.000000,5.000000,25.002000,0.500000
25%,12.972000,2.352000,27.904500,53.125500,22.362500,4.360750,38.028500,0.633000,87.000000,13.357750,41.320000,2.937000
50%,29.232000,42.146000,40.286500,69.961000,32.019500,6.026000,48.142000,0.800500,103.000000,21.455500,57.847000,5.297000
75%,41.008000,103.820000,52.436250,87.256500,41.364250,7.715250,58.258500,0.969000,121.000000,29.688250,74.234750,7.662000
max,60.170000,174.763000,115.683000,161.810000,90.019000,16.559000,103.016000,1.832000,231.000000,37.998000,89.997000,9.999000

In [16]:
#selecting data(columns)
print(ds["country"])

print()

print(ds["city"])

#multiplee columns 

print(ds[["city" , "aqi"]])

0        US
1        US
2        US
3        US
4        US
         ..
17995    CH
17996    CH
17997    CH
17998    CH
17999    CH
Name: country, Length: 18000, dtype: object

0        New York
1        New York
2        New York
3        New York
4        New York
           ...
17995      Zurich
17996      Zurich
17997      Zurich
17998      Zurich
17999      Zurich
Name: city, Length: 18000, dtype: object
           city  aqi
0      New York  108
1      New York   90
2      New York   84
3      New York  158
4      New York   97
...         ...  ...
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122
17998    Zurich   95
17999    Zurich   88

[18000 rows x 2 columns]

In [20]:
#select rows (label & index based) - ioc & iloc
 
print(ds.loc[0])

print(ds.loc[0:2]) # start idx : end idx(inclusive in case of loc)

print(ds.iloc[0:2]) #not including ending index

timestamp      2025-11-04 18:25:17.554219
country                                US
city                             New York
latitude                           40.713
longitude                         -74.006
pm25                               50.295
pm10                              108.938
no2                                27.998
so2                                 6.539
o3                                 52.568
co                                  1.096
aqi                                   108
temperature                        18.504
humidity                           70.168
wind_speed                          3.725
Name: 0, dtype: object
                    timestamp country      city  latitude  longitude    pm25  \
0  2025-11-04 18:25:17.554219      US  New York    40.713    -74.006  50.295
1  2025-11-04 19:25:17.554219      US  New York    40.713    -74.006  32.083
2  2025-11-04 20:25:17.554219      US  New York    40.713    -74.006  42.250

      pm10     no2    so2      o3     co  aqi  temperature  humidity  \
0  108.938  27.998  6.539  52.568  1.096  108       18.504    70.168
1   63.043  36.120  4.021  43.536  1.075   90        5.838    80.088
2   82.553  26.935  9.538  23.320  0.977   84       31.833    62.783

   wind_speed
0       3.725
1       8.969
2       9.650
                    timestamp country      city  latitude  longitude    pm25  \
0  2025-11-04 18:25:17.554219      US  New York    40.713    -74.006  50.295
1  2025-11-04 19:25:17.554219      US  New York    40.713    -74.006  32.083

      pm10     no2    so2      o3     co  aqi  temperature  humidity  \
0  108.938  27.998  6.539  52.568  1.096  108       18.504    70.168
1   63.043  36.120  4.021  43.536  1.075   90        5.838    80.088

   wind_speed
0       3.725
1       8.969

In [34]:
#cell = 
print(ds.loc[0,["city","aqi"]])
print(ds.loc[0:2,["city","aqi"]])

print(ds.index)
print(ds.columns)

print(ds.loc[0:2,"city"])
#print(ds.iloc[0:2,"city"]) #yai error deg
print(ds.iloc[0:2,2])#iloc index ki value numerical hi leta hian

print(ds.loc[0:2,["city","country","latitude","longitude"]])
print(ds.iloc[0:2,[3,4]])

city    New York
aqi          108
Name: 0, dtype: object
       city  aqi
0  New York  108
1  New York   90
2  New York   84
RangeIndex(start=0, stop=18000, step=1)
Index(['timestamp', 'country', 'city', 'latitude', 'longitude', 'pm25', 'pm10',
       'no2', 'so2', 'o3', 'co', 'aqi', 'temperature', 'humidity',
       'wind_speed'],
      dtype='object')
0    New York
1    New York
2    New York
Name: city, dtype: object
0    New York
1    New York
Name: city, dtype: object
       city country  latitude  longitude
0  New York      US    40.713    -74.006
1  New York      US    40.713    -74.006
2  New York      US    40.713    -74.006
   latitude  longitude
0    40.713    -74.006
1    40.713    -74.006

In [44]:
#select singel scaller value 

print(ds.at[0,"city"])
print(ds.iat[0,2]) 

#cities = ds["city"] #view
#cities[0]= "mumbai" # yai change orginaal data main bhi h ojayega

#cities = ds["city"].copy()
#cities[0] = "mumbai"

print(ds)

mumbai
mumbai
                        timestamp country      city  latitude  longitude  \
0      2025-11-04 18:25:17.554219      US    mumbai    40.713    -74.006
1      2025-11-04 19:25:17.554219      US  New York    40.713    -74.006
2      2025-11-04 20:25:17.554219      US  New York    40.713    -74.006
3      2025-11-04 21:25:17.554219      US  New York    40.713    -74.006
4      2025-11-04 22:25:17.554219      US  New York    40.713    -74.006
...                           ...     ...       ...       ...        ...
17995  2025-11-19 13:25:17.554219      CH    Zurich    47.377      8.542
17996  2025-11-19 14:25:17.554219      CH    Zurich    47.377      8.542
17997  2025-11-19 15:25:17.554219      CH    Zurich    47.377      8.542
17998  2025-11-19 16:25:17.554219      CH    Zurich    47.377      8.542
17999  2025-11-19 17:25:17.554219      CH    Zurich    47.377      8.542

         pm25     pm10     no2    so2      o3     co  aqi  temperature  \
0      50.295  108.938  27.998  6.539  52.568  1.096  108       18.504
1      32.083   63.043  36.120  4.021  43.536  1.075   90        5.838
2      42.250   82.553  26.935  9.538  23.320  0.977   84       31.833
3      30.403   79.951  63.536  7.609  31.369  0.230  158       23.140
4      21.083   66.423  38.997  6.919  45.615  1.085   97       13.632
...       ...      ...     ...    ...     ...    ...  ...          ...
17995  27.899   74.179  41.474  6.677  50.869  1.028  103        7.079
17996   2.950   47.988  42.235  2.821  35.551  0.644  105       28.734
17997  61.347   72.908  46.976  5.763  66.492  0.947  122       21.951
17998  40.722   95.152  32.957  5.524  53.193  0.868   95       24.042
17999  25.830   30.411  35.317  4.336  66.246  0.848   88        8.529

       humidity  wind_speed
0        70.168       3.725
1        80.088       8.969
2        62.783       9.650
3        89.153       8.956
4        76.499       4.017
...         ...         ...
17995    52.443       7.452
17996    85.678       4.496
17997    72.311       9.660
17998    31.880       2.642
17999    59.104       4.403

[18000 rows x 15 columns]